@import '../../_styles.variables.scss';

.about-container {
  background: url('https://farm3.staticflickr.com/2607/4086382463_5f1f65abf0_o.jpg') no-repeat center / cover;
  height: $bg-height;
  width: auto;
}


