@import '../../_styles.variables.scss';

.datalina-container {
  background: url("https://farm3.staticflickr.com/2749/4087140460_52f12cf8af_b.jpg") no-repeat center / cover;
  height: $bg-height;
  width: auto;
}
