@import '../../_styles.variables.scss';

.gallery-container {
  margin-bottom: 50px;
  text-align: center;

  h3 {
    background-color: black;
    color: white;
    width: 200px;
    padding: 5px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  .slider {
    margin: auto;
    width: 70%;
  }
}
