@import '../../_styles.variables.scss';

.blog-container {
  background: url("https://farm4.staticflickr.com/3146/3003831187_051a1f1a21_b.jpg") no-repeat center / cover;
  height: $bg-height;
  width: auto;
}
