<div class="home-container">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
    <div class="bio">
      Hi, I'm Alina.
      <br><br>
      Software Dev. Wine lover. Cat person.
      <br><br>
      New York raised. Brooklyn Tech, Baruch College, and General Assembly.
      <br><br>
      Dabbles in photography, inspired by art, design, and travels.
      <br><br>
      <a href="http://www.instagram.com/alinochkaa" target="_blank">@alinochkaa</a>
    </div>
  </div>
</div>
