@import '../../_styles.variables.scss';

.home-container {
  background: url('https://photos.smugmug.com/Blog-1/i-qG24qRS/0/4cfcbade/X3/IMG_9071-X3.jpg') no-repeat center / cover;
  height: 90vh;
  width: auto;

  .bio {
    background-color: white;
    color: #000;
    padding: 25px;
    margin-right: 47%;
    margin-top: 15%;
    width: 360px;
    font-weight: 500;
  }

  a {
    color: #08316B;
  }
}
